/* Start coding here */
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
   height: 100vh; 
}
header {
    background-color: gray;
    color: white;
    height: 10vh;
    font-size: 2rem;
    padding-left: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

main {
    height: 90vh;
    display: flex;
    flex-direction: column;
}
.chat-right{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    padding: 0 20px;
    
}
.chat-left{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 10px;
}
.chat {
    height: 50px;
    min-width:200px;
    width: fit-content;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.green-bg{
    background: #09BE09;
    position: relative;
    z-index: 10;
}
.circle{
    background-color:white;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    position: absolute;
    bottom: 35px;
    left: 170px;
    z-index: 1;
}

.tail{
    background-color: #09BE09;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    position: absolute;
    bottom: 28px;
    left: 175px;
}
.background{
    background-color: #09BE09;
    height: 100%;
    width: 80px;
    border-radius: 50px;
    position: absolute;
    left: 119px;
    z-index: 10;
}

.cancle{
    background-color: rgb(212, 211, 211);
    position: relative;
}

.x{
    position: absolute;
    background-color: rgba(128, 128, 128, 0.8);
    height: 25px;
    width: 25px;
    text-align: center;
    border-radius: 100%;
    left: 180px;
    bottom: 25px;
    color: white;
}

.gray-bg{
    background-color: gray;
}

