/* Start coding here */
header{
    background-color: rgb(133, 132, 132);
    padding: 10px;
    margin: 0px;
    font-size: 1.5rem;
}

main{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.chat{
    border-radius: 20px;
    width: fit-content;
    padding: 10px;
    min-width:200px;
}

.right-chat{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    position: relative;
}

.left-chat{
    
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.cancle{
    background-color: rgb(212, 211, 211);
    position: relative;
}

.user{
    background-color: rgb(6, 201, 6);
    bottom: 135px;
    z-index: 2;
}

.respon{
    background-color: rgb(133, 132, 132);
}

.x-btn{
    border-radius: 50%;
    position: absolute;
    border: 2px solid rgba(0, 0, 0, 0);
    padding: 1px;
    height: 20px;
    width: 20px;
    text-align: center;
    left: 200px;
    bottom: 20px;
    background-color: rgb(105, 104, 104);
    color: rgba(255, 255, 255);
}